.rgh_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 300px;
    border: 1px solid black;
    width: 150px;
    position: absolute;
    left: 1750px;
}

.rgh_menu p {
    border: 1px solid black;
    margin-top: 10px;
}

.rgh_list {
    display: flex;
    flex-direction: column;
    margin-right: 7px;
}

.rgh_btn {
    margin-bottom: 10px;
}