.profiles {
    border: 1px solid black;
}

.profile_mini {
    border: 1px solid black;
    width: 600px;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.profile_mini button {
    height: 30px;
    margin-top: 5px;
    margin-left: 100px;
}

.profile_name {
    margin-left: 10px;
}

.profile_info {
    margin-left: 100px;
}

.profile_about {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin-top: 40px;
    margin-left: 100px;
}

